{% extends "layout.html" %}

{% block title %}Управление продуктами{% endblock %}

{% block content %}
<h2 class="text-center my-4">Управление продуктами</h2>

<div id="notification" class="alert alert-success" style="display: none; position: fixed; top: 20px; right: 20px; z-index: 1050;">
    Продукт успешно добавлен!
</div>

<!-- Кнопка для открытия модального окна добавления продукта -->
 <div class="text-end mb-3">
    <button id="add-new-product-btn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addProductModal">
        Добавить новый продукт
    </button>
</div>

<!-- Форма поиска продукта по названию -->
<div class="input-group mb-4">
    <input type="text" class="form-control" id="search-name" placeholder="Введите название для поиска">
    <button class="btn btn-outline-secondary" onclick="searchProduct()">Найти</button>
</div>

<!-- Модальное окно для добавления нового продукта -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Добавить новый продукт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="generalErrorMessage" class="alert alert-danger" style="display: none;"></div>

                <form id="add-product-form">
                    <div class="mb-3">
                        <label for="add-name" class="form-label">Название продукта (обязательно)</label>
                        <input type="text" class="form-control" id="add-name" placeholder="Введите название продукта" required>
                        <small id="nameError" class="text-danger" style="display: none;">
                            Название продукта обязательно, от 3 до 100 символов, только буквы и цифры.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-description" class="form-label">Описание</label>
                        <input type="text" class="form-control" id="add-description" placeholder="Введите описание">
                        <small id="descriptionError" class="text-danger" style="display: none;">
                            Описание не должно превышать 500 символов.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-category" class="form-label">Категория</label>
                        <input type="text" class="form-control" id="add-category" placeholder="Введите категорию">
                        <small id="categoryError" class="text-danger" style="display: none;">
                            Категория должна быть до 50 символов, только буквы и цифры.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-price" class="form-label">Цена (руб)(обязательно)</label>
                        <input type="text" class="form-control" id="add-price" placeholder="Введите цену за 1 штуку продукта в формате 0.00" required>
                        <small id="priceError" class="text-danger" style="display: none;">
                            Цена обязательна, положительное число в формате 0.00, максимум 9999999.99.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-stock-quantity" class="form-label">Количество продукта (обязательно)</label>
                        <input type="number" class="form-control" id="add-stock-quantity" placeholder="Введите количество продукта" required >
                        <small id="stockQuantityError" class="text-danger" style="display: none;">
                            Количество должно быть целым числом, не меньше 0.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-supplier-id" class="form-label">Поставщик (обязательно)</label>
                        <select class="form-control" id="add-supplier-id" required></select>
                        <small id="supplierError" class="text-danger" style="display: none;">
                            Необходимо выбрать поставщика с действительным UUID.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-image-url" class="form-label">Изображение продукта</label>
                        <input type="file" class="form-control" id="add-image-url" accept=".png, .jpeg, .jpg">
                        <small id="imageError" class="text-danger" style="display: none;">
                            Формат изображения должен быть .png, .jpeg или .jpg.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-weight" class="form-label">Вес партии продукта (кг)</label>
                        <input type="number" class="form-control" id="add-weight" step="0.01" placeholder="Введите вес партии продукта">
                        <small id="weightError" class="text-danger" style="display: none;">
                            Вес должен быть положительным числом, максимум 6 цифр (включая 2 знака после запятой).
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-dimensions" class="form-label">Габариты продукта (1х1х1 метра)</label>
                        <input type="text" class="form-control" id="add-dimensions" placeholder="Введите габариты в формате 1х1х1">
                        <small id="dimensionsError" class="text-danger" style="display: none;">
                            Габариты должны быть в формате "число x число x число", например, "1x2x3", и содержать не более 100 символов.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-manufacturer" class="form-label">Производитель</label>
                        <input type="text" class="form-control" id="add-manufacturer" placeholder="Введите производителя продукта">
                        <small id="manufacturerError" class="text-danger" style="display: none;">
                            Производитель может содержать только буквы и цифры, максимум 100 символов.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Создать продукт</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования продукта -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Редактировать продукт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-product-form">
                    <input type="hidden" id="edit-product-id">
                    <div class="mb-3">
                        <label for="edit-name" class="form-label">Название продукта (обязательно)</label>
                        <input type="text" class="form-control" id="edit-name" placeholder="Введите название продукта" required>
                        <small id="editnameError" class="text-danger" style="display: none;">
                            Название продукта обязательно, от 3 до 100 символов, только буквы и цифры.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-description" class="form-label">Описание</label>
                        <input type="text" class="form-control" id="edit-description" placeholder="Введите описание" >
                        <small id="editdescriptionError" class="text-danger" style="display: none;">
                            Описание не должно превышать 500 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-category" class="form-label">Категория</label>
                        <input type="text" class="form-control" id="edit-category" placeholder="Введите категорию">
                        <small id="editcategoryError" class="text-danger" style="display: none;">
                            Категория должна быть до 50 символов, только буквы и цифры.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-price" class="form-label">Цена (руб) (обязательно)</label>
                        <input type="text" class="form-control" id="edit-price" placeholder="Введите цену за 1 штуку продукта">
                        <small id="editpriceError" class="text-danger" style="display: none;">
                            Цена обязательна, положительное число в формате 0.00, максимум 9999999.99.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-stock-quantity" class="form-label">Количество на складе (обязательно)</label>
                        <input type="number" class="form-control" id="edit-stock-quantity" placeholder="Введите количество продукта">
                        <small id="editstockQuantityError" class="text-danger" style="display: none;">
                            Количество должно быть целым числом, не меньше 0.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-supplier-id" class="form-label">Поставщик (обязательно)</label>
                        <select class="form-control" id="edit-supplier-id" required>
                            <!-- Поставщики будут загружены через JS -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-image-url" class="form-label">Изображение продукта</label>
                        <input type="file" class="form-control" id="edit-image-url" accept=".png, .jpeg, .jpg">
                        <small id="editimageError" class="text-danger" style="display: none;">
                            Формат изображения должен быть .png, .jpeg или .jpg.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-weight" class="form-label">Вес продукта (кг)</label>
                        <input type="number" class="form-control" id="edit-weight" step="0.01" placeholder="Введите вес партии продукта">
                        <small id="editweightError" class="text-danger" style="display: none;">
                            Вес должен быть положительным числом, максимум 6 цифр (включая 2 знака после запятой).
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-dimensions" class="form-label">Габариты продукта (1х1х1 метра)</label>
                        <input type="text" class="form-control" id="edit-dimensions" placeholder="Введите габариты в формате 1х1х1">
                        <small id="editdimensionsError" class="text-danger" style="display: none;">
                            Габариты должны быть в формате "число x число x число", например, "1x2x3", и содержать не более 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-manufacturer" class="form-label">Производитель</label>
                        <input type="text" class="form-control" id="edit-manufacturer" placeholder="Введите производителя продукта">
                        <small id="editmanufacturerError" class="text-danger" style="display: none;">
                            Производитель может содержать только буквы и цифры, максимум 100 символов.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Таблица продуктов -->
<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Список продуктов</h5>
        <table class="table align-middle" id="products-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Цена</th>
                    <th scope="col" class="text-center">Действия</th>
                </tr>
            </thead>
            <tbody>
                <!-- Данные будут загружены через JS -->
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/products.js"></script>
{% endblock %}