{% extends "layout.html" %}

{% block title %}Управление поставщиками{% endblock %}

{% block content %}
<h2 class="text-center my-4">Управление поставщиками</h2>

<div id="notification" class="alert alert-success" style="display: none; position: fixed; top: 20px; right: 20px; z-index: 1050;">
    Поставщик успешно добавлен!
</div>

<!-- Кнопка для открытия модального окна добавления поставщика -->
<div class="text-end mb-3">
    <button id="add-new-supplier-btn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSupplierModal">
        Добавить нового поставщика
    </button>
</div>

<!-- Форма поиска поставщика по названию -->
<div class="input-group mb-4">
    <input type="text" class="form-control" id="search-name" placeholder="Введите название для поиска">
    <button class="btn btn-outline-secondary" onclick="searchSupplier()">Найти</button>
</div>

<!-- Модальное окно для добавления нового поставщика -->
<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel">Создание нового поставщика</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-supplier-form">
                    <div class="mb-3">
                        <label for="add-name" class="form-label">Название поставщика (обязательно)</label>
                        <input type="text" class="form-control" id="add-name" required minlength="3" maxlength="100" placeholder="Введите Название поставщика">
                        <small id="addNameError" class="text-danger" style="display: none;">
                            Название обязательно, от 3 до 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-contact_name" class="form-label">Контактное лицо (обязательно)</label>
                        <input type="text" class="form-control" id="add-contact_name" maxlength="100" placeholder="Укажите контактное лицо" required>
                        <small id="addContactNameError" class="text-danger" style="display: none;">
                            Контактное лицо обязательно, максимум 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-contact_email" class="form-label">Email (обязательно)</label>
                        <input type="email" class="form-control" id="add-contact_email" placeholder="Введите email" maxlength="100" required>
                        <small id="addContactEmailError" class="text-danger" style="display: none;">
                            Email обязателен, должен быть валидным и не более 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-phone_number" class="form-label">Телефон</label>
                        <input type="text" class="form-control" id="add-phone_number" maxlength="15" placeholder="Введите телефон (+79009999999)">
                        <small id="addPhoneNumberError" class="text-danger" style="display: none;">
                            Номер телефона должен быть не более 15 символов и содержать только цифры и/или символ '+'.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-address" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="add-address" maxlength="200" placeholder="Введите адрес поставщика">
                        <small id="addAddressError" class="text-danger" style="display: none;">
                            Адрес должен быть не более 200 символов, содержать только буквы и цифры.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-country" class="form-label">Страна</label>
                        <input type="text" class="form-control" id="add-country" maxlength="50" placeholder="Введите страну поставщика">
                        <small id="addCountryError" class="text-danger" style="display: none;">
                            Страна должна быть не более 50 символов и содержать только буквы.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-city" class="form-label">Город</label>
                        <input type="text" class="form-control" id="add-city" placeholder="Введите город поставщика">
                        <small id="addCityError" class="text-danger" style="display: none;">
                            Город должен быть не более 50 символов и содержать только буквы, пробелы и дефисы.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="add-website" class="form-label">Вебсайт</label>
                        <input type="text" class="form-control" id="add-website" placeholder="Укажите веб-сайт">
                        <small id="addWebsiteError" class="text-danger" style="display: none;">
                            Веб-сайт должен быть валидным URL и не более 255 символов.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать поставщика</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования поставщика -->
<div class="modal fade" id="editSupplierModal" tabindex="-1" aria-labelledby="editSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSupplierModalLabel">Редактирование поставщика</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-supplier-form">
                    <input type="hidden" id="edit-supplier-id">
                    <div class="mb-3">
                        <label for="edit-name" class="form-label">Название поставщика (обязательно)</label>
                        <input type="text" class="form-control" id="edit-name" required minlength="3" maxlength="100" placeholder="Введите Название поставщика">
                        <small id="editNameError" class="text-danger" style="display: none;">
                            Название обязательно, от 3 до 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-contact_name" class="form-label">Контактное лицо (обязательно)</label>
                        <input type="text" class="form-control" id="edit-contact_name" maxlength="100" placeholder="Укажите контактное лицо" required>
                        <small id="editContactNameError" class="text-danger" style="display: none;">
                            Контактное лицо обязательно, максимум 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-contact_email" class="form-label">Email (обязательно)</label>
                        <input type="email" class="form-control" id="edit-contact_email" maxlength="100" placeholder="Введите email" required>
                        <small id="editContactEmailError" class="text-danger" style="display: none;">
                            Email обязателен, должен быть валидным и не более 100 символов.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-phone_number" class="form-label">Телефон</label>
                        <input type="text" class="form-control" id="edit-phone_number" maxlength="15" placeholder="Введите телефон (+79009999999)">
                        <small id="editPhoneNumberError" class="text-danger" style="display: none;">
                            Номер телефона должен быть не более 15 символов и содержать только цифры и/или символ '+'.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-address" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="edit-address" maxlength="200" placeholder="Введите адрес поставщика">
                        <small id="editAddressError" class="text-danger" style="display: none;">
                            Адрес должен быть не более 200 символов, содержать только буквы и цифры.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-country" class="form-label">Страна</label>
                        <input type="text" class="form-control" id="edit-country" maxlength="50" placeholder="Введите страну поставщика">
                        <small id="editCountryError" class="text-danger" style="display: none;">
                            Страна должна быть не более 50 символов и содержать только буквы.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-city" class="form-label">Город</label>
                        <input type="text" class="form-control" id="edit-city" placeholder="Введите город поставщика">
                        <small id="editCityError" class="text-danger" style="display: none;">
                            Город должен быть не более 50 символов и содержать только буквы, пробелы и дефисы.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="edit-website" class="form-label">Вебсайт</label>
                        <input type="text" class="form-control" id="edit-website" placeholder="Укажите веб-сайт">
                        <small id="editWebsiteError" class="text-danger" style="display: none;">
                            Веб-сайт должен быть валидным URL и не более 255 символов.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Таблица поставщиков -->
<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Список поставщиков</h5>
        <table class="table align-middle" id="suppliers-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Контактное лицо</th>
                    <th scope="col">Email</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Город</th>
                    <th scope="col">Вебсайт</th>
                    <th scope="col class="text-center"">Действия</th>
                </tr>
            </thead>
            <tbody>
                <!-- Данные будут загружены через JS -->
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/suppliers.js"></script>
{% endblock %}